@import './colors.css';

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	background-color: var(--dark-green);
}

#icon-logo {
	display: flex;
	align-items: center;
}

#icon-logo > h1 {
	color: var(--peach);
	font-weight: normal;
	margin-top: 15px;
	margin-bottom: 15px;
}

#icon-logo > img {
	width: 100%;
	height: 40px;
	margin-right: 10px;
}

#menu-and-contact {
	color: var(--peach);
}
