.search-box {
	display: flex; 
	align-items: center;
	padding-left: 15px;
	background-color: var(--light-gray);
	height: 40px;

}
.search-field {
	z-index: 2;
	box-sizing: border-box;
	border: none;
	width: 100%;
	padding: 10px;
	background-color: transparent;
	outline: none;
}

.search-icon {
	z-index: 1;
	color: var(--dark-gray);
}

.search-button {
	background-color: transparent;
	border: none; 
	height: 100%;
	width: 40px;
	color: var(--dark-gray);
}

.search-button:hover {
	background-color: var(--gray);
}
